:root {
    --color-font-darknavy: #333333;
    --color-font-placeholder-darknavy: #c8c8c8;
    --color-border-gray1: #00000040;
    --color-border-gray2: #dadada;
    --color-border-gray3: #dadada40;
    --color-white: #ffffff;
    --color-black: #000000;
}
